@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap");

@font-face {
  src: url("/fonts/Block.otf");
  font-family: "Block-custom-font";
}

@font-face {
  src: url("/fonts/deftone.ttf");
  font-family: "deftone-cursive-font";
}
body {
  margin: 0;
  font-family: "Inconsolata", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --light-gray: #eee;
  /* --green: limegreen; */
  --lightness: 50%;
  --green: hsl(120, 61%, var(--lightness));
  --red: #e91e63;
  --blue: #4645fa;
  --purple: #663399;
  --password-meter: 0;
  --password-meter-remark: "very poor";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
